
<%= stylesheet_link_tag    "application" %>
<%= javascript_include_tag "vendor/custom.modernizr" %>
<%= csrf_meta_tags %>

<body style="background-color:#2eb2ff">


<div class="row">
  <div class="samll-11 large-centered columns">
  <div class="card">
  		<img src="assets/LaunchSoon.png">
	</div></div>
</div>

<!-- <div class="column row">
<div class="small-11 large-centered columns">
  	<div class="card">
  		<img src="assets/Launch.png">
	</div>
	</div>
</div> -->

